.head {
  vertical-align: top;
  padding: 60px;
  text-align: center;
  background: white;
  color: rgb(70, 20, 117);
  font-size: 30px;
}

.button-click {
    display: flex; 
    justify-content: center;
}

#start-btn {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

