.head {
  vertical-align: top;
  padding: 60px;
  text-align: center;
  background: white;
  color: rgb(70, 20, 117);
  font-size: 30px;
}

.button-click {
    display: flex; 
    justify-content: center;
}

#start-btn {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#next-btn {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
}

.btn {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
}

.correct {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

.incorrect {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}



.hide {
  visibility: hidden;
}
